@import "/assets/css/components/projectBadge.css";
@import "/assets/css/fonts/source_sans.css";

/* main page */

:root {
    --s-body: #7A2259;
    --s-top: #FB405A;

    --sans-serif: "Source Sans Pro", sans-serif;
}

.topCl {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:3px;
    background: linear-gradient(to right,#7A2259,#FB405A);
    z-index: 1000;
}

body {
    background-color: var(--cst)
}

/* vid background thingy */

#vidBkg {
    position:absolute;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
    overflow:hidden;
    filter:blur(8px);

    background-image: var(--patak);
    background-size: contain;
}

/* content */

#content { 

    position:absolute;
    left:50%;
    top:3px;
    
    width:50%;
    height:calc( 100% - 3px );

    overflow:auto;

    background-color: var(--bse);

}

@media screen and (max-width: 600px) {
    
    #content {
        position:absolute;
        left:0px;
        width:100%;
        top:150px;
        height: calc( 100% - 150px );
    }

}