@import "/assets/css/fonts/source_sans.css";
@import "/assets/css/fonts/inconsolata.css";

/* main page */

:root {
    --s-body: #7A2259;
    --s-top: #FB405A;

    /* attempts at fallbacks lol */
    --sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", sans-serif;
    --monospace: "Inconsolata", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

* {
    font-family: var(--sans-serif)
}

.monospaceText {
    font-family: var(--monospace)
}

*:focus-visible {
    outline: 2px var(--brd);
}

/* Sidebar */

#menu {
    flex-basis: auto;
    display:flex;
}

#clgrad {
    width:3px;
    height:100%;
    background: linear-gradient(to bottom,#7A2259,#FB405A);
}

.sidebar {
    height:100%;
    --level: var(--sf2); /* default */
    --wdth: 200px;
    background-color: var(--level);

    min-width:50px;
    width: 50px;
    transition-duration: 150ms;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar:hover {
    min-width:var(--wdth);
    width:var(--wdth);
    transition-duration:150ms;
}

.sidebar::-webkit-scrollbar {
    width: 0px;
    transition-duration: 150ms;
}
.sidebar::-webkit-scrollbar-track {
    background-color: var(--level);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--ol0);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--ol1);
}

.sidebar:hover::-webkit-scrollbar {
    width:5px;
    transition-duration: 150ms;
}

#menu > .sidebar {
    position:relative;
}

.sidebar > .listItem {
    display:flex;
    width:var(--wdth);
    min-height:50px;
    transition-duration:50ms;
    border-left: 0px solid var(--sky);
    overflow:hidden;
    position:relative;
    cursor:pointer;
    align-items:center;
}

.sidebar > .listItem > * {
    cursor: pointer;
}

.sidebar > .listItem:hover, .sidebar > .listItem[data-active=true] {
    border-left: 3px solid var(--sky);
    transition-duration:50ms;
}

.sidebar > .listItem[data-active=true]:not(:hover) > .icon {
    left:-3px;
    transition-duration:50ms;
}

.sidebar > .listItem[data-active=true]:not(:hover) > .content {
    left: -3px;
    transition-duration:50ms;
}

.sidebar > .listItem > .icon, .sidebar > .listItem > .content {
    position:relative;
    min-height:50px;
    overflow:hidden;
    transition-duration:50ms;
}

.sidebar > .listItem > .hitbox {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:100;
    border:none;
    outline:none;
    background-color: #00000000;
}

.sidebar > .listItem > .icon {
    left:0px;
    width:50px;
    min-width:50px;
    height:100%;
}

.sidebar > .listItem > .content {
    width:calc( var(--wdth) - 50px );
    display:flex;
    justify-content: center;
    flex-direction: column;
}

/* sidebar util */

.sidebar > .listItem > .icon > .icontainer {
    position:absolute;
    left: 10px;
    top:10px;
    width:30px;
    height:30px;
}

.sidebar > .listItem > .icon > .icontainer > img {
    position:absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    transition-duration: 250ms;
    opacity: 0;
}

.sidebar > .listItem > .icon[data-circular=true] > .icontainer {
    border-radius: 100%;
    background-color:var(--txt);
}

.sidebar > .listItem > .icon[data-circular=true] > .icontainer > img {
    border-radius: 100%;
}

.sidebar > .listItem > .icon > .icontainer > img[data-loaded] {
    transition-duration:250ms;
    opacity: 1;
}

.sidebar > .listItem > .icon > p {
    position:absolute;
    margin: 0 0 0 0;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: var(--txt);
    font-family: var(--monospace);
    font-size:18px;
}

.sidebar > .listItem > .content > p {
    /* position:absolute; */
    margin: 0 10px 0 0;
    /*
    top:50%; // probably just me being stupid but
             // couldnt get margin auto 0 auto  0 towork
             
    transform:translateY(-50%);
    */
    color: var(--st1);
    font-family: var(--sans-serif);
    font-size:16px;
}

.sidebar > .listItem > .content > .note {
    color: var(--st0);
    font-size:10px;
}



/* Content */

#content, .screen > .content {
    position:relative;
    flex-basis: 100%;
    background-color:var(--bse);
}

#mc {
    background-color: var(--bse);
    display: flex;

    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

/* Screens */

.screen {
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

.nothingSelected {
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

/* Screen: Home */

#screenHome > h1, .nothingSelected > h1 {
    position:absolute;
    left:50%;
    top:50%;
    margin: 0 0 0 0;
    font-family: var(--sans-serif);
    transform:translate(-50%,-50%);
    color:var(--sf1);
    text-align:center;
}

#screenHome > h1 > span, .nothingSelected > h1 > span {
    color:var(--sf1);
    font-size:16px;
    margin: 0 0 0 0;
}

/* Screen: Embeddables */

#screenEmbeddables {
    display:flex;
}

#screenEmbeddables > .content {
    padding: 10px;
}

#screenEmbeddables > .content > .embList > .otherInfo > p {
    font-family: var(--sans-serif);
    color: var(--st0);
    font-size:16px;
    font-weight:300;
    margin: 0 0 0 0;
}

#screenEmbeddables > .content > .embList > .otherInfo > p > a {
    color: var(--txt);
    font-weight:600;
    text-decoration: none;
}

/* Screen: Show */

#screenShow {
    display:flex;
}

#screenShow > .content > .poster {
    position:absolute;
    width:auto;
    height:100%;
    left:100%;
    transform:translateX(-100%);
    max-width:100%;
    /* overflow:hidden; */
}

#screenShow > .content > .poster > img {
    left:0px;
    top:0px;
    height:100%;
    opacity:0;
    transition-duration:250ms;
    z-index: -1;
}

#screenShow > .content > .poster > img[data-loaded] {
    opacity: 1;
    transition-duration:250ms;
}

#screenShow > .content > .poster > .posterOverlay {
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background: linear-gradient(to right, var(--bse), var(--IV_bse));
}

#screenShow > .content > .poster > .poBlendFix {
    position:absolute;
    left:-1px;
    top:0px;
    height:100%;
    width:2px;
    background: var(--bse);
}

#screenShow > .content > .showAbout, #screenEmbeddables > .content > .embList, #screenSettings > .content > .stUI {
    background-color: var(--bse);
    width:600px;
    padding: 15px;

    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

    border: 1px solid var(--brd);
    border-radius:8px;
}

#screenShow > .content > .showAbout > .header, 
#screenEmbeddables > .content > .embList > .header,
.videoView > .container > .shortAbout {
    width:100%;
    height:45px;
    padding-bottom: 10px;
    gap: 10px;
    display:flex;
}

#screenShow > .content > .showAbout > .header > img, 
#screenEmbeddables > .content > .embList > .header > img,
.videoView > .container > .shortAbout > img {
    border-radius:100%;
    width:45px;
    height:45px;
    opacity: 0;
    transition-duration: 250ms;
}

#screenShow > .content > .showAbout > .header > img[data-loaded], 
#screenEmbeddables > .content > .embList > .header > img[data-loaded],
.videoView > .container > .shortAbout > img[data-loaded] {
    transition-duration: 250ms;
    opacity: 1;
}

#screenShow > .content > .showAbout > .header > .txt, 
#screenEmbeddables > .content > .embList > .header > .txt,
.videoView > .container > .shortAbout > .txt {
    width: calc( 100% - 55px );
}

#screenShow > .content > .showAbout > .header > .txt > *, 
#screenEmbeddables > .content > .embList > .header > .txt > *,
.videoView > .container > .shortAbout > .txt > * {
    position:relative;
    margin: 0 0 0 0;
}

#screenShow > .content > .showAbout > .header > .txt > h1, 
#screenEmbeddables > .content > .embList > .header > .txt > h1,
.videoView > .container > .shortAbout > .txt > h1 {
    font-weight: 600;
    font-size: 20px;
    color: var(--txt);
}

#screenShow > .content > .showAbout > .header > .txt > p, 
#screenEmbeddables > .content > .embList > .header > .txt > p,
.videoView > .container > .shortAbout > .txt > p {
    font-weight: 400;
    font-size: 16px;
    color: var(--st0);
}

#screenShow > .content > .showAbout > .otherInfo,
.videoView > .container > .btm_ctn > .longAbout {
    display:flex;
    gap: 10px;
}

#screenShow > .content > .showAbout > .otherInfo > div {
    flex-basis: 50%;
}

#screenShow > .content > .showAbout > .otherInfo > div > *,
.videoView > .container > .btm_ctn > .longAbout > div > * {
    margin: 0 0 0 0;
    color: var(--txt);
}

#screenShow > .content > .thumbnailBackground {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    overflow:hidden;
}

#screenShow > .content > .thumbnailBackground > img {
    position:absolute;
    left:-40px; /* attempting to hide the edges caused by filter:blur() */
    top:-40px;
    width:calc( 100% + 80px );
    height:calc( 100% + 80px );
    object-fit:cover;
    filter: blur(10px);
    opacity: 0;
    transition-duration: 250ms;
}

#screenShow > .content > .thumbnailBackground > img[data-loaded] {
    opacity:0.4;
    transition-duration: 250ms;
}

#screenShow > .content > .backedByThumbnailBkg > h1,
#screenShow > .content > .backedByThumbnailBkg > h1 > * 
{
    color: var(--st0);
    text-shadow:var(--sf0) 0px 0px 10px;
}

@media (prefers-color-scheme: dark) {
    #screenShow > .content > .thumbnailBackground > img[data-loaded] {
        opacity: 0.20; /* "darken" for dark mode users */
        filter: blur(5px) brightness(0.5);
    }
    #screenShow > .content > .backedByThumbnailBkg > h1,
    #screenShow > .content > .backedByThumbnailBkg > h1 > *
    {
        color: var(--sf2);
        width:calc( 100% - 20px );
    }
}

/* Screen: Settings */

#screenSettings {
    display:flex;
}

#screenSettings > .content > .stUI > .settingsList {
    width:100%;
}

#screenSettings > .content > .stUI > .topic {
    display:flex;
    height: 32px;
    align-items:center;
    gap: 5px;
    position:relative;
}

#screenSettings > .content > .stUI > .topic > img {
    width: 32px;
    height: 32px;
}

#screenSettings > .content > .stUI > .topic > h1 {
    color: var(--txt);
    margin: 0 0 1px 0;
    font-size:20px;
} 

#screenSettings > .content > .stUI > .settingsList {
    display:flex;
    flex-direction: column;
    gap:5px;
    padding-top:10px;
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem {
    display:flex;
    align-items: center;
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem > p {
    color: var(--st0);
    font-size: 16px;
    margin: 0 0 0 0;
    flex-basis:100%; /* lazy fix to push input to the end */
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem > .inp[type="checkbox"] {
    accent-color: var(--txt);
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem > .inp[type="checkbox"]:not(:checked) {
    filter:invert(50%); /* darken / lighten a bit so that it sorta fits theming */
}


#screenSettings > .content > .stUI > .settingsList > .settingsItem > select,
.videoView > .container > .btm_ctn select/*,
.videoView > .container > .btm_ctn button*/ {
    background-color: var(--txt);
    color: var(--bse);
    padding: 3px;
    border: none;
    border-radius:8px;
    outline:none
}

/*.videoView > .container > .btm_ctn button {
    padding: 4px 6px;
    cursor: pointer;
}*/

/* VideoView */

.videoView {
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    flex-basis:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:auto;
}

.videoView > .container {
    max-width: 970px;
    height: calc(100% - 20px);
    flex-basis:970px;
    padding: 0 10px;
    overflow:visible;
}

.videoView > .container > .videoPlayer {
    
    position: relative;
    width:100%;
    left:0px;
    top:0px;
    
}

.videoView > .container > .shortAbout {
    padding: 10px 0;
}

.videoView > .container > .btm_ctn {
    display: flex;
    gap:10px;
}

.videoView > .container > .btm_ctn > .longAbout {
    flex-basis:100%;
    display: flex;
}

.videoView > .container > .btm_ctn > .opts {
    min-width: 200px;
    max-width: 200px;
}

.videoView > .container > .btm_ctn > .longAbout > div {
    flex-basis:100%;
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker {
    display:flex;
    align-items: center;
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > .left {
    flex-basis:100%;
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > .left > select,
.videoView > .container > .btm_ctn > .opts > .downloadPicker > .left > span {
    padding: 0px;
    font-family: var(--monospace);
    background-color: var(--bse);
    color: var(--txt);
    font-size:14px;
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > .left > select {
    appearance:none;
    border-radius:0px !important;
    cursor:pointer;
    border: 1px solid #00000000;
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > .left > select:hover {
    border-bottom: 1px solid var(--txt);
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > .left > .qPicker {
    color: var(--st0)
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > button {
    background: var(--bse);
    width:20px;
    height:20px;
    min-width: 20px;
    flex-basis:20px;
    position:relative;
    border:none;
    cursor:pointer;
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > button > img {
    width:20px;
    height:20px;
    position:absolute;
    top:50%;
    left:0px;
    transform:translateY(-50%);
}

.videoView > .container > .btm_ctn > .opts > .downloadPicker > button > img:hover {
    opacity: 0.75
}

.videoView > .container > .btm_ctn > .opts > .nextUp {
    width:100%;
}

.videoView > .container > .btm_ctn > .opts > .nextUp > h2 {
    font-size: 16px;
    margin: 0 0 5px 0;
    color:var(--txt)
}

.videoView > .container > .btm_ctn > .opts > .nextUp > .thumbnail {
    position:relative;
    width:100%;
    height:auto;
    background-color: var(--sf0);
}

.videoView > .container > .btm_ctn > .opts > .nextUp > .thumbnail > img {
    position:absolute;
    width:100%;
    height:auto;
    opacity:0;
    transition-duration:250ms;
}

.videoView > .container > .btm_ctn > .opts > .nextUp > .thumbnail > img[data-loaded] {
    opacity:1;
    transition-duration:250ms;
}

.videoView > .container > .btm_ctn > .opts > .nextUp > .videoData {
    margin: 5px 0 0 0;
}

.videoView > .container > .btm_ctn > .opts > .nextUp > .videoData > p {
    margin: 0 0 0 0;
    color: var(--st0);
    font-size: 14px;
}

.videoView > .container > .btm_ctn > .opts > .nextUp > .videoData > .vTitle {
    font-weight:600;
    color: var(--txt)
}

/* VideoPlayer */

.videoPlayer:fullscreen > .vbking {
    background-color: black !important;
}

.videoPlayer > video {
    width:100%;
    max-height:100%;
    display:block;
    position:relative;
    top:50%;
    transform: translateY(-50%); /* center video when aspect ratio greater than screen it is on */
}

.videoPlayer > .vbking {
    width: 100%;
    height:100%;
    background-color: var(--sf0);
    position:absolute;
    left:0px;
    top:0px;
    z-index: 0;
}

.videoPlayer > .vbking > h1 {
    font-family: var(--sans-serif);
    color: var(--st1);
    position:absolute;
    left:50%;
    top:50%;
    margin: 0 0 0 0;
    transform:translate(-50%,-50%);
    text-align: center;
}

.videoPlayer > .controls {
    width: 100%;
    height: 40px;
    position:absolute;
    left:0px;
    top:100%;
    transform:translateY(-100%);
    background-color: var(--sf0);
    display:flex;
    align-items: center;
    gap: 5px;
}

.videoPlayer > .controls > button,
.videoPlayer > .skipButton {
    padding: 0px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 0;
    background-color: var(--sf0);
    position:relative;
}

.videoPlayer > .controls > button:hover,
.videoPlayer > .skipButton:hover {
    background-color: var(--sf1);
}

.videoPlayer > .controls > button > img {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.videoPlayer > .controls > .seekbar {
    flex-basis:100%;
    appearance: none;
    background-color: var(--sf2);
    height:5px;
    position:relative;
    transition-duration:100ms;
    cursor:pointer;
}

.videoPlayer > .controls > .seekbar > .progress {
    background-color: var(--txt);
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
}

.videoPlayer > .controls > .timeDenotation {
    flex-basis: 100px;
    min-width:100px;
    position:relative;
    height:100%;
}

.videoPlayer > .controls > .timeDenotation > p {
    color: var(--txt);
    font-family: var(--monospace);
    text-align: center;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:14px;
    margin: 0 0 0 0;
    width:100%;
}

.videoPlayer > .controls > .timeDenotation > p > span {
    color: var(--st0);
    font-family: var(--monospace);
}

.videoPlayer > .controls > .seekbar:hover {
    height:10px;
    transition-duration:100ms;
}

.videoPlayer > .loadingOverlay {
    background-color: #AAAAAA66;
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
}

.videoPlayer > .loadingOverlay > .loadingSpinner {
    height:75px;
    width:10px;
    /* lazy */
    border-radius: 1000px;
    background-color: var(--s-top);

    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.videoPlayer button {
    border:none;
    cursor: pointer;
}

.videoPlayer > .skipButton {
    position:absolute;
    left:100%;
    top:calc( 100% - 40px );
    text-align:center;
    font-size: 16px;
    color: var(--txt) !important;
    width:120px;
    transform: translate(-100%,-100%);
    border-radius:0;
    background-color: var(--sf0);
}

.videoPlayer > .controls > .fqpicker {
    position:absolute;
    left:100%;
    top:calc( 100% - 40px );
    background-color: var(--sf1);
    transform:translate(-100%,-100%);
}

@keyframes spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        background-color:var(--s-top);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
        background-color:var(--s-body);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        background-color:var(--s-top);
    }
}

/*
@keyframes load_flash {
    0% {
        background-color:var(--txt);
    }
    50% {
        background-color:var(--st1);
    }
    100% {
        background-color:var(--txt);
    }
}
*/
body {
    background-color: var(--bse)
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background-color: var(--cst);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--mtl);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--bse);
}