@import "/assets/css/fonts/source_sans.css";
@import "/assets/css/fonts/inconsolata.css";

/* main page */

:root {
    --s-body: #7A2259;
    --s-top: #FB405A;

    /* attempts at fallbacks lol */
    --sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", sans-serif;
    --monospace: "Inconsolata", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

* {
    font-family: var(--sans-serif)
}

.monospaceText {
    font-family: var(--monospace)
}

*:focus-visible {
    outline: 2px var(--brd);
}

/* Sidebar */

#menu {
    flex-basis: auto;
}

#clgrad {
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:100%;
    background: linear-gradient(to bottom,#7A2259,#FB405A);
}

.sidebar {
    height:100%;
    --level: var(--sf2); /* default */
    --wdth: 200px;
    background-color: var(--level);

    min-width:50px;
    width: 50px;
    transition-duration: 150ms;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar:hover {
    min-width:var(--wdth);
    width:var(--wdth);
    transition-duration:150ms;
}

#menu > .sidebar {
    left: 3px;
    position:relative;
}

.sidebar > .listItem {
    width:var(--wdth);
    height:50px;
    transition-duration:50ms;
    border-left: 0px solid var(--sky);
    overflow:hidden;
    position:relative;
    cursor:pointer;
}

.sidebar > .listItem > * {
    cursor: pointer;
}

.sidebar > .listItem:hover, .sidebar > .listItem[data-active=true] {
    border-left: 3px solid var(--sky);
    transition-duration:50ms;
}

.sidebar > .listItem[data-active=true]:not(:hover) > .icon {
    left:-3px;
    transition-duration:50ms;
}

.sidebar > .listItem[data-active=true]:not(:hover) > .content {
    left: 47px;
    transition-duration:50ms;
}

.sidebar > .listItem > .icon, .sidebar > .listItem > .content {
    position:absolute;
    top:0px;
    width:50px;
    height:50px;
    overflow:hidden;
    transition-duration:50ms;
}

.sidebar > .listItem > .hitbox {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:100;
    border:none;
    outline:none;
    background-color: #00000000;
}

.sidebar > .listItem > .icon {
    left:0px;
    width:50px;
}

.sidebar > .listItem > .content {
    left:50px;
    width:calc( var(--wdth) - 50px );
}

/* sidebar util */

.sidebar > .listItem > .icon > .icontainer {
    position:absolute;
    left: 10px;
    top:10px;
    width:30px;
    height:30px;
}

.sidebar > .listItem > .icon > .icontainer > img {
    position:absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    transition-duration: 250ms;
    opacity: 0;
}

.sidebar > .listItem > .icon[data-circular=true] > .icontainer {
    border-radius: 100%;
    background-color:var(--txt);
}

.sidebar > .listItem > .icon[data-circular=true] > .icontainer > img {
    border-radius: 100%;
}

.sidebar > .listItem > .icon > .icontainer > img[data-loaded] {
    transition-duration:250ms;
    opacity: 1;
}

.sidebar > .listItem > .icon > p {
    position:absolute;
    margin: 0 0 0 0;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: var(--txt);
    font-family: var(--monospace);
    font-size:18px;
}

.sidebar > .listItem > .content > p {
    position:absolute;
    margin: 0 10px 0 0;
    top:50%; /* probably just me being stupid but
                couldnt get margin auto 0 auto  0 towork
             */
    transform:translateY(-50%);
    color: var(--st1);
    font-family: var(--sans-serif);
    font-size:16px;
}


/* Content */

#content, .screen > .content {
    position:relative;
    flex-basis: 100%;
    background-color:var(--bse);
}

#mc {
    background-color: var(--bse);
    display: flex;

    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

/* Screens */

.screen {
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

.nothingSelected {
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

/* Screen: Home */

#screenHome > h1, .nothingSelected > h1 {
    position:absolute;
    left:50%;
    top:50%;
    margin: 0 0 0 0;
    font-family: var(--sans-serif);
    transform:translate(-50%,-50%);
    color:var(--sf1);
    text-align:center;
}

#screenHome > h1 > span, .nothingSelected > h1 > span {
    color:var(--sf1);
    font-size:16px;
    margin: 0 0 0 0;
}

/* Screen: Embeddables */

#screenEmbeddables {
    display:flex;
}

#screenEmbeddables > .content {
    padding: 10px;
}

#screenEmbeddables > .content > .embList > .otherInfo > p {
    font-family: var(--sans-serif);
    color: var(--st0);
    font-size:16px;
    font-weight:300;
    margin: 0 0 0 0;
}

#screenEmbeddables > .content > .embList > .otherInfo > p > a {
    color: var(--txt);
    font-weight:600;
    text-decoration: none;
}

/* Screen: Show */

#screenShow {
    display:flex;
}

#screenShow > .content > .poster {
    position:absolute;
    width:auto;
    height:100%;
    left:100%;
    transform:translateX(-100%);
    /* overflow:hidden; */
}

#screenShow > .content > .poster > img {
    left:0px;
    top:0px;
    height:100%;
    opacity:0;
    transition-duration:250ms;
    z-index: -1;
}

#screenShow > .content > .poster > img[data-loaded] {
    opacity: 1;
    transition-duration:250ms;
}

#screenShow > .content > .poster > .posterOverlay {
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background: linear-gradient(to right, var(--bse), var(--IV_bse));
}

#screenShow > .content > .poster > .poBlendFix {
    position:absolute;
    left:-1px;
    top:0px;
    height:100%;
    width:2px;
    background: var(--bse);
}

#screenShow > .content > .showAbout, #screenEmbeddables > .content > .embList, #screenSettings > .content > .stUI {
    background-color: var(--bse);
    width:600px;
    padding: 15px;

    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

    border: 1px solid var(--brd);
    border-radius:8px;
}

#screenShow > .content > .showAbout > .header, #screenEmbeddables > .content > .embList > .header {
    width:100%;
    height:45px;
    padding-bottom: 10px;
    gap: 10px;
    display:flex;
}

#screenShow > .content > .showAbout > .header > img, 
#screenEmbeddables > .content > .embList > .header > img {
    border-radius:100%;
    width:45px;
    height:45px;
    opacity: 0;
    transition-duration: 250ms;
}

#screenShow > .content > .showAbout > .header > img[data-loaded], 
#screenEmbeddables > .content > .embList > .header > img[data-loaded] {
    transition-duration: 250ms;
    opacity: 1;
}

#screenShow > .content > .showAbout > .header > .txt, 
#screenEmbeddables > .content > .embList > .header > .txt {
    width: calc( 100% - 55px );
}

#screenShow > .content > .showAbout > .header > .txt > *, 
#screenEmbeddables > .content > .embList > .header > .txt > * {
    position:relative;
    margin: 0 0 0 0;
}

#screenShow > .content > .showAbout > .header > .txt > h1, 
#screenEmbeddables > .content > .embList > .header > .txt > h1 {
    font-weight: 600;
    font-size: 20px;
    color: var(--txt);
}

#screenShow > .content > .showAbout > .header > .txt > p, 
#screenEmbeddables > .content > .embList > .header > .txt > p {
    font-weight: 400;
    font-size: 16px;
    color: var(--st0);
}

#screenShow > .content > .showAbout > .otherInfo {
    display:flex;
    gap: 10px;
}

#screenShow > .content > .showAbout > .otherInfo > div {
    flex-basis: 50%;
}

#screenShow > .content > .showAbout > .otherInfo > div > * {
    margin: 0 0 0 0;
    color: var(--txt);
}

/* Screen: Settings */

#screenSettings {
    display:flex;
}

#screenSettings > .content > .stUI > .settingsList {
    width:100%;
}

#screenSettings > .content > .stUI > .topic {
    display:flex;
    height: 32px;
    align-items:center;
    gap: 5px;
    position:relative;
}

#screenSettings > .content > .stUI > .topic > img {
    width: 32px;
    height: 32px;
}

#screenSettings > .content > .stUI > .topic > h1 {
    color: var(--txt);
    margin: 0 0 1px 0;
    font-size:20px;
} 

#screenSettings > .content > .stUI > .settingsList {
    display:flex;
    flex-direction: column;
    gap:5px;
    padding-top:10px;
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem {
    display:flex;
    align-items: center;
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem > p {
    color: var(--st0);
    font-size: 16px;
    margin: 0 0 0 0;
    flex-basis:100%; /* lazy fix to push input to the end */
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem > .inp[type="checkbox"] {
    accent-color: var(--txt);
}

#screenSettings > .content > .stUI > .settingsList > .settingsItem > .inp[type="checkbox"]:not(:checked) {
    filter:invert(50%); /* darken / lighten a bit so that it sorta fits theming */
}


#screenSettings > .content > .stUI > .settingsList > .settingsItem > select,
.videoView > .container select,
.videoView > .container button {
    background-color: var(--txt);
    color: var(--bse);
    padding: 3px;
    border: none;
    border-radius:8px;
    outline:none
}

.videoView > .container button {
    padding: 5px;
}

/* VideoView */



body {
    background-color: var(--bse)
}